.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    /* display:flex; */
}
.title{
    text-align: center;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card img {
    max-width: 100%;
}

.name{
    text-transform:capitalize;
    font-weight: 100;
}

